.footer {
    color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;

    &__copyright {
        color: #8f9296;
        margin-top: 1rem;
        text-align: center;
    }

    &__link {
        background-color: #222;
        color: rgba(255, 255, 255, .3);
        display: inline-block;
        font-size: 20px;
        padding: 10px 15px;
        position: relative;
        transition: all .3s ease-in-out;

        &:after {
            right: -15px;
            top: 0;
            @include triangle(up-left, 15px, 48px, #222);
        }

        &:before {
            bottom: 0;
            left: -15px;
            @include triangle(down-right, 15px, 48px, #222);
        }

        &:before,
        &:after {
            content: "";
            height: 100%;
            position: absolute;
            transition: all .3s ease-in-out;
            width: 15px;
            z-index: 0;
        }

        &:hover {
            background-color: $blue;
            color: white;

            &:before {
                @include triangle(down-right, 15px, 48px, $blue);
            }

            &:after {
                @include triangle(up-left, 15px, 48px, $blue);
            }
        }

        &+a {
            margin-left: 20px;
        }

    }

    &__site-social-links {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.navigation-buttons {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 999;

    span {
        background-color: $black;
        border-radius: 3px;
        cursor: pointer;
        display: block;
        height: 30px;
        margin-top: 6px;
        transition: all .1s;
        width: 30px;

        &:hover {
            background-color: $gray-900;
        }
    }
}